.img-slider {
    object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center; /*Center the image within the element */
    max-height:93vh;
}

.title-carousel {
    text-shadow:  1px 0px 0 black, -1px 0px 0 black, 0px 1px 0 black, 0px -1px 0 black;
}

.carousel-caption {
	opacity: 0%;
	background-color: rgba(0,0,0,0.7);
	width: fit-content;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	transition: 0.3s;
}

.carousel-caption:hover {
	opacity : 100%;
	transition: 0.3s;
}

.strong {
    display: inline;
    font-weight: bolder;
}
