.header-nav {
    background: #00BCCC;
}

.logo_site {
    width: 5vh;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a
{
    font-size: 1.2rem;
}

.img-cercle
{
    width: 50px;
    height: 50px;
    border: solid 2px white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

footer .logo_site {
    margin-bottom: 40px;
}

.logo-social {
    width: 35px;
    margin: 15px;
}
