.cover-picture{
    width: 100%;
    height:200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.avatar-profile {
    width: 100px;
    height:100px;
    transform: translate(0,-25%);
    border-radius: 10%;
    object-fit: cover;
    object-position: center;
}

.div-list-profile {
    transform: translate(0,-50%);
    border-bottom: solid 2px silver;
}

.link-liste-profile {
    color: black;
}

.link-liste-profile:hover {
    color: silver;
}

.elem-title-profile {
    text-transform: uppercase;
    color: black;
}

.value {
    color: silver;
}

.profile-title {
    text-decoration: underline #900a59;
}
